In [ ]:
# pip install pandas 
# DataFrame()
#Data Series()

import numpy as np
import pandas as pd

arr = np.array([20,30,40,50])
arr2 = np.array([[20,20,30],[10,2,4]])
lst = [10, 'mgmg', '3', 60, 30.5]

dt = {
    'name':['mg mg', 'aung aung', 'kyaw kyaw', 'aye aye'],
    'age': [10,20,30,40],
    'address': ['mdy', 'ygn', 'bgo', 'sg']
}


df = pd.DataFrame(dt)

print(df[['name','address', 'age']])

In [55]:
import pandas as pd
# df = pd.DataFrame()
# openpyxl
file_path= "C:\\Users\\E15\\PycharmProjects\\AI_Level1_Class1\\PandasTutorial\\dataset\\myfle.xlsx"
df = pd.read_excel(r"dataset\myfle.xlsx")

df.drop_duplicates()

             Name Address   Phone   Age
0           mg mg     ygn   23232  12.0
1      Aung Aung      mdy  232425  12.0
2           ma ma     npt  232426  25.0
3         hla hla     bgo  232427  25.0
4       kyaw kyaw     NaN  232428  42.0
5         aye aye     aya  232429  25.0
6        mya mya      kia  232430  25.0
7       chan chan      ky  232431   2.0
8           ei ei     mdy  232432   NaN
9         zaw zaw     mwd  232433  25.0
10        myo myo     mdy  232434  65.0
11  khaing khaing     ygn  232435  25.0
12        kyi kyi      sg  232436   8.0
14        hla hla      ya   55566  98.0