In [ ]:
List

In [ ]:
mylist = [10,20,-10, 2.0, "mg mg"] #index num
myset = {20,10,20,40}
mytuple = (20,30,"mg mg")
dict = {'key':'values'}
dict_eg = {'name':'Mg Mg', 'phone':'0987456'}

In [ ]:
mylist = [10,20,-10, 2.0, "mg mg"] #index num
print(mylist[4])
print(mylist[-1])
print(mylist[2:4])  #index range : +1

In [ ]:
mylist = [10,20,-10, 2.0, "mg mg"] #index num
mylist[2]=80
mylist[4]="Kyaw Kyaw"
del mylist[2]
print(mylist)

In [ ]:
mylist = [10,20,-10, 2.0] #index num
my = ['mg mg', 'aung aung', 'kyaw kyaw']

my.sort()
print(my)

In [ ]:
t = (10,20) #index
s = {10, 10,20, 30, 2.5, -2, 'apple'} #no index
print(s)

In [ ]:
dict = {'key':'values'}  #index
d = {
    'name':'mg mg', 
    'phone':123456, 
    'address':'yangon'
    }

# d['name'] = "mgmg@email.com"
# d.pop('phone')
c = d.copy()

print(c)

In [ ]:
li = [1,2,3]
l1=li.copy()
print(l1)

In [ ]:
# control 
# if 
# while 
# for

In [ ]:
mark = 90

if mark == 100:
 print('full mark')

elif mark > 80:
    print('credit')
    
elif mark > 50:
    print('pass')
else:
    print('fail')

credit
apple

In [87]:
# for 
list1 = [10,20, 30,40, 50]

for name in list1:
    print(name)
    print('next')

print('end')

10
next
20
next
30
next
40
next
50
next
end